.content {
    padding: 20px;
}

.portpic {
    height: 20rem;
    width: 30rem;
    margin: auto;
     display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
    }

p {
    font-size: 20px;
    text-align: justify;
    color: #A5A9A6
}

#social {
    text-align: justify;
}

.social-image {
    width: 5rem;
    height: 5rem;
    z-index: 1;
}

#contact {
    text-align: center
}

h1, h5, h4 {
    text-align: justify
}

#nav {
    /* text-align: center; */
    z-index: 1;
}