.content {
    padding: 20px;
}

.portpic {
    height: 20rem;
    width: 30rem;
    margin: auto;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
    }

p {
    font-size: 20px;
    text-align: justify;
    color: #A5A9A6
}

#social {
    top: 40%;
    right: 50px;
    padding: 20px;
    height: 20rem;
    width: 10rem;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.social-image {
    width: 5rem;
    height: 5rem;
    z-index: 1;
}

#portfolio {
    text-align: center;
}

#contact {
    text-align: center
}

h1, h5 {
    text-align: justify
}
